.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}

.compose {
  padding: 10px;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #eeeef1;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

@supports (backdrop-filter: blur(20px)) {
  .compose {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
  }
}

.compose-input {
  flex: 1;
  border: 1px;
  font-size: 14px;
  height: 40px;
  background: none;
  min-width: 700px;
  background-color: #5d97da;
  opacity: 0.3;
}

.compose-input::placeholder {
  opacity: 0.3;
}
