.post1{
    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    position: sticky !important;
    
    margin-top: 20px;
    width: 98%;
    height: 460px;
    border-radius: 10px;
    background-color: rgb(243, 245, 250);
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    border: 3px solid rgb(35, 77, 167);
}

.title11{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
   
}