.post1 {
    width: 50%;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 20px 20px 15px 10px;
  }
  
  .postWrapper1 {
    padding: 50px;
  }
  
  .postTop1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  

  .postCenter1{
    margin: -1px 50px;
}

  
  
 
  
  